html,
body,
p, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html {
  display: flex;
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding-bottom: $footer-height_desktop;
  position: relative;
  width: 100%;

  @media screen and (max-width: $tablet-width) {
    padding-bottom: $footer-height_mobile;
  }
  @media screen and (max-width: $mobile-width) {
    padding-bottom: $footer-height_mobile;
  }
}

.hidden {
  overflow: hidden;
}

.display-none {
  display: none;
}

.container {
  width: $container-width;
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (max-width: $container-width) {
    width: 100%;
    padding: 0 10px;
  }
}
